body{
    background-color: black;
    color: aliceblue;
    
}
.one{
    text-align: center;
    width: 100%;
    display: inline-block;

}

.img{
    width:3%;
    height:7%;
}

.p{
    font-size: 20px;
}

.a1{
    font-size: 30px;
}